<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="MaseterTest">
        <parameter name="os" value="Windows"></parameter>
        <parameter name="browser" value="chrome"></parameter>
        
        <classes>
            <class name="TestCases.TC001_getCheapestFlights"></class>
        </classes>
    </test>
</suite>